:root {
  --bg-primary: #f7f7f8;
  --bg-secondary: #efeff0;
  --text-dark: #222222;
  --text-light: #eeeeee;
  --btn-primary: #1f1f1f;
  --btn-secondary: transparent;
  --max-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  letter-spacing: 0;
  background-color: var(--bg-primary);
  color: var(--text-dark);
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
}

/* #region -- HTML tags section -- */
h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.02;
  margin: 0;
}

h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2 {
  font-size: calc(1.2rem + 0.9vw);
}
h3 {
  font-size: calc(1rem + 0.6vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

p,
a {
  font-family: monospace;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 70ch;
}

ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

a,
a:focus,
a:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}

/* #endregion */

/* #region -- navbar section -- */

.nav-items {
  flex-grow: 1;
  max-width: 320px;
}

.nav-item {
  padding: 0.3rem 0.7rem;
}

.nav-item:hover {
  padding: 0.3rem 0.7rem;
}

.nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #000;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

.logo {
  text-align: center;
  margin: 0 1rem;
}
/* #endregion */

/* #region -- general sections -- */
section {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section-title::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: var(--text-dark);
  margin: 1rem auto;
}

.container {
  max-width: var(--max-width);
  min-width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

@media screen and (min-width: 765px) {
  .container {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1023px) {
  .container {
    padding: 0 3rem;
  }
}
/* #endregion */

/* #region -- margin & padding section -- */
.mt-3 {
  margin-top: 1rem;
}
/* #endregion */

/* #region -- buttons section -- */
.btn {
  max-height: 1.8rem;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.7rem;
  letter-spacing: 2px;
  padding: 0.4rem 1.5rem;
  margin: 0.7rem 0;
  border-radius: 1rem;
  display: inline-block;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: #fff !important;
  filter: brightness(0.7);
  transition: all 0.2s ease-in;
}

.btn-primary:hover {
  color: #fff !important;
  filter: brightness(1.5);
  transition: all 0.2s ease-in;
}

.btn-link {
  background-color: transparent;
  color: var(--btn-primary);
  filter: drop-shadow(0);
  transition: all 0.2s ease-out;
}

.btn-link:hover {
  filter: drop-shadow(0 0 0.5rem dodgerblue);
  transition: all 0.5s ease-in;
}
/* #endregion */

/* #region -- hero section -- */
.hero {
  flex-direction: column;
  height: 60vh;
}

.title {
  letter-spacing: 1px;
}

.obj {
  max-width: 50ch;
}

.cta {
  max-width: 500px;
  flex-direction: column;
}

/* #endregion */

/* #region -- about section -- */
/* #endregion */

/* #region -- work section -- */
/* #endregion */

/* #region -- contact section -- */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  font-size: 0.8rem;
}

input,
input:focus,
textarea,
textarea:focus {
  display: inline-block;
  width: 100%;
  border: 2px solid var(--text-dark);
  padding: 0.7rem 1rem;
  outline: none;
}
/* #endregion */

/* #region -- about section -- */
/* #endregion */

/* #region -- Utils section -- */
.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
  flex-grow: 1;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}
/* #endregion */

/* #region -- footer section -- */

footer p {
  margin-bottom: 0;
}

.social-icons {
  max-width: 320px;
  min-width: 260px;
}
/* #endregion */

#slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  overflow-x: hidden;
}

#slider > * {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  filter: grayscale(1);
  animation: slide 30s linear alternate infinite;
}

#slider > img:hover {
  filter: grayscale(0);
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translateX(-1870px); /* The image width */
  }
}

/* #region  --  scroll bar styles  --   */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 5px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* #endregion */
